<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./index.css">
</head>


<body>
  <h1>Hello, Flask!</h1>
  <p>Welcome to your Flask application.</p>


  <div class="centered">
    <form action="/submit" method="POST">
      <label for="name">name</label>
      <input type="text" id="name" name="name" placeholder="Enter your name">
      <input type="text" placeholder="Enter something">
      <button type="submit">Submit</button>
    </form>
  </div>
</body>

</html>